<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>3D Printer Fault Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">PRINT GUARD</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio-details">About</a></li>
            <li><a href ="/service">Services</a></li>
            <li><a href="/predictor">Predictor</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
    <header class="hero">
        <div class="overlay">
            <h1>3D PRINTER FAULT PREDICTOR</h1>
            <p>Upload an .stl file to predict potential faults.</p>
            <form class="predict-form" action="/predict" method="POST" enctype="multipart/form-data">
                <input type="file" name="stl_file" accept=".stl" required>
                <button type="submit">Predict</button>
            </form>
        </div>
    </header>
    
</body>
</html>