<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="logo">PRINT GUARD</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio-details">About</a></li>
            <li><a href="/service-details">Services</a></li>
            <li><a href="/predictor" class="active">Predictor</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
    <header class="hero">
        <div class="overlay">
            <h1>Predictor</h1>
            <p>Start predicting faults by entering X, Y, and Z values.</p>
        </div>
    </header>
</body>
</html>